.login_container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.login_text h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.login_text h4 {
  font-size: 0.9rem;
}

.login_form {
  width: 50%;
}
