.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4em;
  margin-bottom: 30px;
}
.about_image img,
.login_image img {
  border-radius: 40% 50% / 20% 40%;
  width: 500px;
}
.about_text p {
  font-size: 0.9rem;
}
