.donate_banner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.donate_section3 {
  position: relative;
  margin-bottom: 30px;
}
.donate_section3 img {
  width: 100%;
  height: 300px;
}
.donate_btn {
  width: 200px;
}
.center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left_text {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}
.left_text p,
.left_text ol li {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px black;
  /* text-align: center; */
}
.left_text h2 {
  font-size: 1.9rem;
  color: white;
}
.center_text h2,
.left_text h2 {
  font-weight: 600;
}
.center_text p {
  font-size: 1rem;
}

/* Donate Section2 */
.donate_section2 {
  padding: 80px 30px;
  /* width: 100%; */
  /* max-width: 900px; */
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
/* Relevant styles */
.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%;
  z-index: 1;
}

.image-stack img {
  width: 100%;
  display: block;
}

.donate_text h2 {
  font-weight: 600;
  font-size: 1.8rem;
}
.donate_text p {
  font-size: 0.9rem;
}
.donate_btn {
  width: 150px;
}
.donate3_btn {
  width: 300px;
}
