.footer_logo {
  font-family: "Italianno", cursive;
  font-size: 3.3rem;
  color: #e22104;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6em;
  margin-bottom: 10px;
}
.social_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}
.social_icon a {
  border: none;
  border-radius: 50%;
}
.copyright {
  text-align: center;
  font-weight: 600;
  padding: 20px;
  background-color: #e22104;
  color: white;
}
