h1 {
  font-family: "Italianno", cursive;
  font-size: 3.3rem;
  color: #e22104;
}
footer {
  display: flex;
  justify-content: space-evenly;
  /* padding: 30px 5%; */
  align-items: center;
  gap: 6em;
}
.social_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}
.social_icon a {
  border: none;
  border-radius: 50%;
}
