@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Italianno&family=Poppins:wght@400;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Italianno", cursive;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.pan-container {
  width: 90%;
  margin: 0 auto;
  /* background-color: #fff; */
}
body {
  background-color: #fff;
}
